/* general */

html {
	background-color: var(--h);
	height: 100%;
}

body {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	color: var(--c);
	font-family: 'Poppins', 'Roboto', arial, verdana, sans-serif;
	font-size: calc(14px + .4vw);
	font-weight: 300;
	line-height: 1.7;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1px 1px;
  height: 100vh;
  margin-top: -1vh;
  margin-bottom: -1.5vh;
  overflow: clip;
  background-color: var(--h);
}

h1 {
	font-size: 2em;
	font-weight: 500;
}

h2 {
	font-size: 2em;
	font-weight: 500;
	text-align: left;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h4 {
	font-size: 1em;
	font-weight: 500;
	text-align: left;
}

h5 {
	font-size: 1em;
	font-weight: 500;
	text-align: center;
}

a {
	text-decoration: none;
	color: #4183c4;
	font-weight: bolder;
}

a:hover {
	filter: brightness(1.2);
}

.navbar { 
  grid-area: 1 / 1 / 2 / 9;
  background-color: var(--bgc);
}

.navbar-inner {
  grid-area: 1 / 3 / 2 / 8; 
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.button {
  border: none;
  color: var(--c);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 7vw;
  padding: 1.5vh;
}

.symbol {
  filter: invert(1) opacity(.3);
  height: 10vh;
  max-height: 30px;
  padding: 3vh;
  display: inline-block;
}

.symbol:hover {
	filter: invert(1) opacity(.8);
}

.symbol::selection {
	background-color: #664400;
}

#current-page {
	filter: invert(0.9) opacity(.8);
}

#highlight {
	background-color: var(--h);
}

@media (max-width: 1000px) {
	.button {
		display: none;
	}
	#light-switch-dark, #light-switch-light {
		display: none !important;
	}
}

@media (min-width: 1001px) {
	.symbol-link, .symbol {
		display: none;
	}
}

.main {
	grid-area: 2 / 1 / 13 / 9;
	position: relative;
	overflow: clip;
}

@media (max-width: 1000px) {
	.navbar {
		grid-area: 1 / 1 / 2 / 9;
	}
	.navbar-inner {
		grid-area: 1 / 1 / 2 / 9;
	}
	.main {
		grid-area: 1 / 1 / 12 / 9;
	}
}

@media (max-height: 600px) {
	h1 {
		font-size: 1.6em;;
	}
	h4 {
		font-size: 0.8em;;
	}
}

/* home */

.hero-gradient {
	background: linear-gradient(85deg, white, black /* #ff938e, #483699 */);
        background-size: 800% 200%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: gradient-animation 8s ease infinite; 
}
  
@keyframes gradient-animation {
    0% { background-position: 0% 33% }
    50% { background-position: 100% 68% }
    100% { background-position: 0% 33% }
}

.hero-obsidian {
	position: absolute;
}

.hero-obsidian img { 
	min-width: 125%;
}

.hero-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(10, 10, 10, 0.5);
	z-index: 150;
}

.text {
  grid-area: 3 / 3 / 11 / 6;
  z-index: 200;
}

.profile-image {
  grid-area: 3 / 6 / 12 / 8;
  display: flex;
  justify-content: normal;
  z-index: 100;
}

.profile-image img {
  filter: contrast(1.2);
  min-height: 100%;
}

@media (max-width: 1000px) {
	.text {
		grid-area: 2 / 2 / 12 / 5;
	}
	.profile-image {
		grid-area: 2 / 4 / 12 / 7;
	}
}

@media (max-width: 600px) {
	.profile-image {
		grid-area: 2 / 2 / 12 / 7;
	}
}

/* blog, portfolio */

.description {
	grid-area: 2 / 1 / 13 / 3;
	font-size: 0.7em;
	background-color: var(--bgc);
	padding: 2vw;
}

#subtle-highlight {
	border: 1px solid var(--h);
}

#subtle-highlight:hover {
	background-color: var(--bgc);
	font-weight: bolder;
}

.blog-container {
	grid-area: 2 / 3 / 13 / 8;
	overflow-y: scroll;
	background-color: var(--bgc);
	padding: 2vw;
}

.entry {
	border-bottom: 1px solid var(--h);
}

.tags {
	font-size: 0.6em;
	color: #808080;
	display: flex;
	justify-content: end;
}

.select {
	color: inherit;
	background-color: var(--bgc);
	border: 1px solid var(--h);
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.select:hover {
	filter: brightness(1.2);
}

.filter {
	display: none;
}

.results {
	display: initial;
}

.content {
	width: 100%;
	border: 1px solid var(--h);
}

text.gtitle[style], .xtitle[style], .ytitle[style] {
	fill: none !important;
}

.profile-card {
	grid-area: 2 / 8 / 13 / 9;
	background-color: var(--bgc);
	padding: 2vw;
}

.container-vis canvas {
	height: 50vh; 
	max-height: 25vw; 
	width: 95vw;
	max-width: 100%; 
	border: 1px solid var(--h);
}

@media (max-width: 1000px) {
	.main, .blog-container {
		grid-area: 1 / 1 / 12 / 9;
	}
	.blog-container {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.navbar, .navbar-inner {
		grid-area: 12 / 1 / 13 / 9;
	}
	.description, .profile-card, #big {
			display: none;
	}
}

/* about */

.about-background {
	grid-area: 2 / 1 / 13 / 9;
	background-color: var(--bgc);
}

.about-text {
	grid-area: 2 / 3 / 13 / 8;
	overflow-y: scroll;
	padding: 2vw;
}

@media (max-width: 1000px) {
	.about-background, .about-text {
		grid-area: 1 / 1 / 12 / 9;
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

#license {
	display: flex;
	justify-content: center;
}

.citeless__animation__deletable {
	position: relative;
	animation: text-progression 4s ease infinite; 
}

@keyframes text-progression {
	0% { }
	28% { color: var(--bgc); }
	29% { color: var(--bgc); }
	100% { color: var(--bgc); }
}

.citeless__animation__block {
	position: absolute;
	animation: block-progression 4s ease infinite; 
	background-color: var(--h);
	padding-bottom: 40px;
	top: 0;
	left: 0;
	margin: 0;
}

@keyframes block-progression {
	0% { padding-right: 5px; }
	30% { padding-right: 265px; }
	60% { padding-right: 25px; }
	80% { padding-right: 25px; top: 0; padding-bottom: 40px; }
	90% { padding-right: 25px; top: 40px; padding-bottom: 0;}
	100% { padding-right: 25px; top: 40px; padding-bottom: 0;}
}

.citeless__animation__dot {
	position: absolute;
	animation: dot-progression 4s ease infinite; 
	padding: 2px;
	border-radius: 50%;
	background-color: var(--c);
	margin: 0;
}

@keyframes dot-progression {
	0% { transform: translate3D(267px, 28px, 0px) }
	30% { transform: translate3D(267px, 28px, 0px) }
	60% { transform: translate3D(26px, 28px, 0px) }
	70% { transform: translate3D(26px, -5px, 0px) }
	80% { transform: translate3D(12px, -5px, 0px) }
	90% { transform: translate3D(12px, -5px, 0px) }
	95% { transform: translate3D(-5px, -5px, 0px) }
	100% { transform: translate3D(-5px, -5px, 0px) }
}

/* uncleaned dark / light theme */

:root {
	--bgc: #151515;
	--c: #eeeeff;
	--h: #202020;
}

.dark {
	--bgc: #151515;
	--c: #eeeeff;
	--h: #202020;
}
.light {
	--bgc: #eeeeee;
	--c: #151515;
	--h: #dfdfdf;
}

.light h1, h2, h3, h4, h5 {
	font-weight: bolder;
}

.light .symbol {
	filter: invert(0) opacity(0.3);
}

.light #current-page {
	filter: invert(0.1) opacity(.8);
}

.light #light-switch-light {
	display: none;
}

.dark #light-switch-dark {
	display: none;
}

.light #light-switch-dark {
	display: inline-block;
}

#light-switch-dark, #light-switch-light {
	display: inline-block;
	position: absolute;
	text-align: center;
	top: -1vh;
	cursor: pointer;
}

#light-switch-dark {
	filter: invert(0.1) opacity(0.8);
	display: none;
	left: 1vw;
}

#light-switch-light {
	filter: invert(0.9) opacity(0.8);
}

.light .hero-overlay {
	background-color: rgba(238, 238, 238, 0.2);
}

.light .hero-obsidian {
	filter: invert(0.75) hue-rotate(90deg);
}

.light .profile-image {
	filter: none;
}

#content-portfolio {
	filter: brightness(0.7);
}

.light #content-portfolio {
	filter: brightness(1);
}

.light #special-light-mode-1 {
	filter: hue-rotate(180deg) invert();
}

.light #special-light-mode-2 {
	filter: hue-rotate(180deg) invert() contrast(0.3);
	border: none;
}