h1 {
	font-size: 32px;
	font-weight: 400;
}

h2 {
	font-size: 18px;
	font-weight: 700;
}

h3 {
	font-size:16px;
	font-weight: 400;
}

h4 {
	font-size:14px;
	font-weight: 700;
}

p {
	background-color: #F7f1d8;
	padding: 40px;
	border-radius: 4px;
}

body {
	text-align: justify;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	color: #0b0605;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7;
}

html {
  	overflow-y: scroll; 
	background-color: #0e0b0a;
}

img {
	border-radius: 4px;
}

.brains {
	float: right;
	width: 13%; 
	margin-left: 28px;
	margin-top: 42px; 
}

.profile {
	float: right;
	width: 23%; 
	margin-left: 28px;
	margin-top: 28px; 
}

a {
	color: #c02729;
	text-decoration: none;
}