/* general */

html {
	background-color: #202020;
	height: 100%;
}

body {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	color: #dde0f0;
	font-family: 'Poppins', 'Roboto', arial, verdana, sans-serif;
	font-size: calc(14px + .4vw);
	font-weight: 300;
	line-height: 1.7;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1.5vh 1.5vh;
  height: 100vh;
  margin-top: -1.5vh;
  margin-bottom: -1.5vh;
}

h1 {
	font-size: 2em;
	font-weight: 500;
}

h2 {
	font-size: 2em;
	font-weight: 500;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h4 {
	font-size: 0.8em;
	font-weight: 200;
	text-align: left;
}

h5 {
	font-size: 1em;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #9ba2e2;
	font-weight: bolder;
}

a:hover {
	filter: drop-shadow(0 0 2px #9ba2e2);
}

.navbar { 
  grid-area: 1 / 1 / 2 / 9;
  background-color: #151515;
}

.navbar-inner {
  grid-area: 1 / 3 / 2 / 7; 
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.button {
  border: none;
  color: #dde0f0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 7vw;
  padding: 3vh;
}

.symbol {
  filter: invert() opacity(.3);
  height: 10vh;
  max-height: 30px;
  padding: 3vh;
  display: inline-block;
}

.symbol:hover {
	filter: invert() opacity(.8);
}

.symbol::selection {
	background-color: #664400;
}

#current-symbol {
	filter: invert() opacity(.8);
}

#current-text {
	color: #9ba2e2;
}

@media (max-width: 1000px) {
	.button {
		display: none;
	}
}

@media (min-width: 1001px) {
	.symbol-link, .symbol {
		display: none;
	}
}

.main {
	grid-area: 2 / 1 / 12 / 9;
	position: relative;
	overflow: clip;
}

.footer {
  grid-area: 12 / 1 / 13 / 9; 
  background-color: #151515;
}

.footer-inner {
  grid-area: 12 / 3 / 13 / 7;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 1000px) {
	.navbar {
		grid-area: 1 / 1 / 2 / 9;
	}
	.navbar-inner {
		grid-area: 1 / 1 / 2 / 9;
	}
	.main {
		grid-area: 2 / 1 / 12 / 9;
	}
	.footer {
		grid-area: 12 / 1 / 13 / 9;
	}
}

@media (max-height: 600px) {
	h1 {
		font-size: 1.6em;;
	}
	h4 {
		font-size: 0.8em;;
	}
}

/* home */

.hero-gradient {
	background: linear-gradient(85deg, white, black /* #ff938e, #483699 */);
        background-size: 800% 200%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: gradient-animation 8s ease infinite; 
}
  
@keyframes gradient-animation {
    0% { background-position: 0% 33% }
    50% { background-position: 100% 68% }
    100% { background-position: 0% 33% }
}

.hero-obsidian {
	background-position: bottom;
	position: absolute;
}

.hero-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(10, 10, 10, 0.5);
	z-index: 150;
}

.text {
  grid-area: 3 / 3 / 11 / 5;
  z-index: 200;
}

.profile-image {
  grid-area: 3 / 5 / 11 / 7;
  display: flex;
  justify-content: right;
  z-index: 100;
}

.profile-image img {
  filter: contrast(1.2);
}

@media (max-width: 1000px) {
	.text {
		grid-area: 3 / 2 / 11 / 5;
	}
	.profile-image {
  		grid-area: 3 / 2 / 11 / 8;
		overflow: clip;
	}
}

/* blog, portfolio */

.description {
	grid-area: 2 / 1 / 12 / 3;
	font-size: 0.7em;
	background-color: #151515;
	padding: 2vw;
}

.blog-container {
	grid-area: 2 / 3 / 12 / 7;
	overflow-y: scroll;
	background-color: #151515;
	padding: 2vw;
}

.tags {
	font-size: 0.7em;
	color: #505050;
}

.blog-image {
	width: 100%;
}

.profile-card {
	grid-area: 2 / 7 / 12 / 9;
	font-size: 0.7em;
	background-color: #151515;
	padding: 2vw;
	text-align: right;
	overflow: clip;
}

.profile-card img {
	height: 80%;
	justify-content: left;
}

@media (max-width: 1000px) {
	.main, .blog-container {
		grid-area: 1 / 1 / 12 / 9;
	}
	.navbar, .navbar-inner {
		grid-area: 12 / 1 / 13 / 9;
	}
	.description, .profile-card, .footer-inner, #big {
			display: none;
	}
}

/* about */

.about-background {
	grid-area: 2 / 1 / 12 / 9;
	background-color: #151515;
}

.about-text {
	grid-area: 3 / 3 / 11 / 7;
	overflow-y: scroll;
	padding: 2vw;
}

@media (max-width: 1000px) {
	.about-background, .about-text {
		grid-area: 1 / 1 / 12 / 9;
	}
}