h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size:18px;
}

body {
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: #242424;
	font-family: Monaco, "Lucida Console", "Courier New", monospace;
	font-size: 14px;
	line-height: 1.8;
}

html {
	background-color: #dbdbdb;
}

span {
	background-color: white;
	padding: 15px;
	border-radius: 5px;
}

img {
	width: 250px;
	border-radius: 5px;
	align: center;
}