h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size:16px;
}

h4 {
	font-size:14px;
}

p {
	background-color: white;
	padding: 12px;
	border-radius: 4px;
}

body {
	text-align: justify;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: #242424;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 14px;
	line-height: 1.8;
}

html {
  	overflow-y: scroll; 
	background-color: #dbdbdb;
}

.brains {
	float: right;
	width: 18%; 
	margin-top: 10px; 
}

.portrait {
	float: right;
	width: 40%; 
	margin-left: 32px;
	margin-top: 32px; 
}
