html {
  overflow-y: scroll; 
  background: #151515;
}

body {
	text-align: justify;
	width: 800px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #dde0f0;
	font-family: arial, verdana, sans-serif;
	font-size: calc(14px + .4vw);
	font-weight: 200;
	line-height: 1.7;
}

h1 {
	font-size: 32px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1;
    text-align: center;
}

h2, h3 {
	font-size: 24px;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.7;
}

h3 {
	margin-top: -20px;
}

h4 {
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 0;
    text-align: center;
}

h5 {
	font-size: 24px;
	font-weight: 500;
	line-height: 0;
	margin-top: 18px;
}

img {
  border-radius: 3px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #9ba2e2;
  font-weight: bolder;
}

a:hover {
	filter: drop-shadow(0 0 2px #9ba2e2);
}

pre {
	display:block;
	padding:9.5px;
	margin:0 0 10px;
	font-size:14px;
	line-height:1.42857143;
	color:#efefef;
	word-break:break-all;
	word-wrap:break-word;
	background-color:#0c1117;
  border-radius: 3px;
}

.hljs-literal {
	color: #16dbe3;
}

.hljs-number {
	color: #6467ef;
}

.hljs-comment {
	color: #efefef;
	font-style: italic;
}

.hljs-keyword {
	color: #16dbe3 ;
	font-weight: bold;
}

.hljs-string {
	color: #e197f3;
}